.theme-dark {
    --page-background-color: #17181e;
    --card-background-color: #1f2027;
    --button-background-color: #59b6f9;
    --button-text-color: #222;
    --header-background-color: #1f2027;

    --text-default-color: white;
}
