.theme-light {
    --page-background-color: #f5f6f9;
    --card-background-color: white;
    --button-background-color: #47cdff;
    --button-text-color: white;
    --header-background-color: white;

    --text-default-color: #222;
}
